{{!-- <main class="p-5">
    <h1>Yes man!!!!</h1>
    <div class="box">
        <button type="button" class="button">Open</button>
        <p class="user">Background css Peppers Club</p>
        <p>Kokokokok</p>
    </div>

    <br>
    <hr>
    <h2>CARARARARARARAT</h2>
    <button type="button" class="button">Open</button>
    <h1 id="user">Yes man!!!!</h1>
    <h2>Yes man!!!!</h2>


    <h1>Yes man!!!!</h1>

    <p>No text</p>

</main>

<footer class="box">
    <button type="button" class="button">Open</button>
    <p class="user">
        <em> Test EM</em>
    </p>
    <p>Kokokokok</p>
</footer> --}}

{{!--
<div class="card p-5 m-5 card-dark">
    <ul>
        <li class="item">111111</li>
        <li class="item">1222222</li>
        <li class="item">13333333</li>
        <li class="item">14444444</li>
        <li class="item">15555555</li>
        <li class="item">16666666666</li>
    </ul>
</div> --}}

<div class="card p-5 m-5 card-dark">
    <input class="input-dark" required>
    <input class="input-dark" type="number">
    <input class="input-dark">
</div>

<div class="card p-5 m-5 card-dark">
    <button class="btn">Click Me</button>
    <img alt="image small card 100px" class="small-img" src="https://picsum.photos/400/800" height="100px">
</div>