<main>
    <h1>Hello world</h1>
    <h2>Second</h2>
    <h3>3 Title</h3>

    <hr>

    <div class="display-1">Hello world</div>
    <div class="display-5">Second</div>
    <div class="display-6">3 Title</div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">Test button</span>
    </button>
    <hr>
    <p class="text-danger">My text</p>
    <p class="text-warning">My text</p>
    <p class="text-success">My text</p>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary btn-lg">Save</button>
            <button class="btn btn-outline-secondary btn-sm">Reserve</button>
            <button class="btn btn-outline-success">More...</button>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>

    <hr>

    <div class="card">
        <div class="card-body">
            This is content
        </div>
    </div>


    <div class="card">
        <div class="card-body">hello</div>
    </div>




</main>