<main class="p-5">
    <div class="row g-5">
        <div class="col-12">

            <label class="form-label">Email address</label>
            <input class="form-control">
            <div class="form-text text-danger">Error. You need to bring me money.</div>

        </div>

        <div class="col-12">


            <div class="row">
                <div class="col-3 pt-1">
                    <label class="form-label">Email address</label>
                </div>
                <div class="col-4">
                    <input class="form-control form-control-sm">
                </div>
                <div class="col-5 ps-1">
                    <div class="form-text text-danger">Error. You need to bring me money.</div>
                </div>
            </div>

        </div>

        <hr>

        <div class="col-12">

            <label class="form-label">Select address</label>
            <select class="form-select form-select-lg">
                <option selected>Open list</option>
                <option value="1">One</option>
                <option value="1">Two</option>
            </select>

        </div>

        <hr>

        <div class="col-12">
            <div class="form-label">Select food</div>
            <div class="form-check form-switch">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Banana</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Coconat</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">PineApple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
        </div>


        <div class="form-check form-switch">
            <label class="form-check-label">Yes</label>
            <input name="food" type="checkbox" class="form-check-input">
        </div>


    </div>
</main>