<div class="row py-3">
    <div class="card col-12 my-3">
        <div class="row">
            <div class="nav row col-6">
                <a href="#" class="nav-link">Vlad Povshy</a>
            </div>
            {{!-- --}}
            <div class="nav row col-6">
                <a href="#" class="nav-link text-end">Resume project</a>
            </div>
        </div>
    </div>

    <div class="mb -4">
        <h2>Список сторінок</h2>
        <p>Опис цікавого поекту.</p>
    </div>


    <div>
        <a href="/shophome" class="btn btn-primary">Home</a>
    </div>
    <div class="my-3">
        <a href="/shoporder" class="btn btn-primary">Order</a>
    </div>
    <div class="mb-3">
        <a href="/shopcart" class="btn btn-primary">Cart</a>
    </div>
    <div class="mb-3">
        <a href="/shopreview" class="btn btn-primary">Review</a>
    </div>


</div>