{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="px-4">
    {{#with main}}
    <main>
        <section>
            {{> title data="All skills" big=true}}
            <ul class="ms-3">
                {{#each skills}}
                <li>
                    {{name}}

                    {{#if point includeZero=true}} ({{point}}) {{/if}}
                    {{#if isTop}} (top!) {{/if}}

                    {{#unless point includeZero=true}} (Не вивчаэмо) {{/unless}}

                    {{#unless point}}
                    {{#if point includeZero=true}}
                    (Вивчаэмо)
                    {{/if}}
                    {{/unless}}
                </li>

                {{/each}}
            </ul>
        </section>

        <section>
            {{> title data="My hobbies"}}
            <ol class="ms-3">
                {{#each hobbies}}
                <li>
                    {{name}}
                    {{#if isMain}} (My favourite) {{/if}}
                </li>
                {{/each}}
            </ol>

        </section>
    </main>
    {{/with}}


</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}